.WrapperContact {
  width: 100%;
  height: auto;
  /* background-color: red; */
}

.mapDiv {
  width: 100%;
  height: 80vh;
  /* background-color: green; */
}

.mapFram {
  margin: 5%;
  width: 90%;
  height: 80%;
}

