.WrapperContact {
  width: 100%;
  height: auto;
  /* background-color: red; */
}

.mapDiv {
  width: 100%;
  height: 80vh;
  /* background-color: green; */
}

.mapFram {
  margin: 5%;
  width: 90%;
  height: 80%;
}

.dataRaw{
  width: 100%;
  height: auto;
  padding:5%;
  background-color: red;
}

.textField{
  width: 100%;
  height: 50px;
  background-color: green;
}

