
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  overflow-x: hidden;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:start;
  min-height: 100vh;
}

.item{
  background:linear-gradient(to right , rgb(3, 126, 15)  , rgb(0, 0, 0) );
  width: 100vw;
  height: 60px;
  display: flex;
}

.logo{
  width: 15%;
  height: 100%;
  color: white;
  /* background-color: red; */
}

.logo-title {
  color: white;
  font-size: 2rem; /* Default size for larger screens */
}

.logo-description {
  color: white;
  font-size: 1rem;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .logo-title {
    font-size: 1.5rem; /* Adjust title size */
  }

  .logo-description {
    font-size: 0.9rem; /* Adjust description size */
  }
}

@media (max-width: 480px) {
  .logo-title {
    font-size: 1.2rem; /* Smaller screens */
  }

  .logo-description {
    font-size: 0.8rem;
  }
}


.Navigation{
  width: 70%;
  height: 100%;
  /* background-color: blue; */
}

.navEnd{
  width: 15%;
  height: 100%;
  /* background-color: rgb(147, 78, 78); */
  display: flex;
  align-content: right;
  justify-content: right;
}

.searchDiv{
  width: 20%;
  
  height: 100%;
  justify-content: center;
  background-color: rgb(3, 126, 15);
  display: flex;
  align-items: center;
}

.Navigation ul{
  width: 80%;
  height: 100%;
  display: flex;
  list-style-type: none;
  /* background-color: red; */
  align-items: center;
  /* justify-content: center; */
  justify-items: center;

}

.Navigation ul li{
  width: calc(100% /5);
}

.linkofNav{
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 130%;

}

.linkofNav:hover{
  color:rgb(255, 208, 0);
  font-size: 150%;
  /* box-shadow: 5px 10px 20px red */
}

/* .searchDiv{
  width: 100%;
  height: 100%;
} */

.notitficationNumber{
  width: 2%;
  height: 5%;
  position: absolute;
  background-color: rgba(161, 7, 7, 0.832);
  margin-left: 1%;
  margin-top: -1%;
  border-radius: 100%;
}

.notitficationNumberText{
  color: white;
  text-align: center;
  justify-items: center;
  align-items: center;

}

.footer{

  background:linear-gradient(to right , rgb(58, 58, 58)  , rgb(0, 0, 0) );
  width: 100vw;
  height: 60px;
  display: flex;
}

.container{
  display: flex;

}

.sideNav{
  width: 15%;
  /* background-color: rgb(255, 0, 0); */
}

.contain{
  width: 85%;
  /* height: 50px; */
  /* background-color: rgb(0, 255, 0); */
}

.SideNavBar{
  width: 100%;
  background-color: rgba(20, 63, 3, 0.377);
  color:white;
  padding: 20px;
  display: flex;
  align-items: center;
  

}

.SideNavBar:hover {
  width: 110%;
  background: linear-gradient(to right, green 30%, black 100%);
  transition:background  4s ease-in-out; 
}
