.navbarContainer{
  width: 100vw;
  height: calc(100vh/10);
  background-color: gainsboro;
}

.navBar {
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(105, 16, 116, 1) 30%, rgba(0, 0, 0, 1) 70%);
}

.Logo{
  width: 15%;
  height: 100%;
  /* background-color: blue; */
}

.Item{
  width: 70vw;
  height: 100%;
  background-color: rgb(0, 255, 157);
}

.rest{
  width: 15vw;
  height: 100%;
  background-color: rgb(0, 162, 255);
}


