.Mainwrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.imageAndDataWrapper{
  width: 100vw;
  height: 80vh;
  position: relative;
}

.imageChnageDiv {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  /* background-color: red; */
=======
  background-color: red;
>>>>>>> 0022827e53fb3b7b5a48081065424acfdbca4451
  position: absolute;

}

.mainWrapper{
  display: flex;
  width: 100%;
  align-items: center;
  /* height: 500px; */
  /* background-color: red; */
}

.writeClick{
  width: 20%;
  /* height: 100%; */
  height: 100px;
  border-radius: 100%;
  background-color: var(--mylightGray);
}

.curtDiv {
  margin: 2%;
  /* margin-left: ; */
  /* width: calc(100% / 6); */
  min-width: calc(88%/3);
  height: 400px;
  background-color: var(--mylightGray);
  display: block;
}

.CurtContainer {
  overflow: auto;
  display: flex;
  width: auto;
  height: auto;
  /* flex-wrap:initial; */
  /* background-color: red; */
}

/* Target the scrollbar for the body */
.CurtContainer::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
}

.CurtContainer::-webkit-scrollbar-thumb {
  background-color: var(--myblack); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.CurtContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--mylightGray); /* Color when hovered */
}

.CurtContainer::-webkit-scrollbar-track {
  background: var(--myblack); /* Background of the scrollbar track */
}

.imageIcon {
  width: 100%;
  height: 50%;
}

.curtDiv:hover {
  background: linear-gradient(to Top, var(--myblack) 20%, var(--mygreen) 100%);
  
}

.Description {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--mylightGray);
}

.Description p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--myWhite);
  font-size: 80%;
}



.imageIcon {
  transition: transform 0.3s ease; 
}

.imageIcon:hover {
  transform: scale(1.1); /* Slight zoom effect */
}

.imageIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curtDiv {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add opacity transition */
}

.curtDiv:hover {
  transform: scale(1.1);
  opacity: 0.8; /* Slight fade effect */
}
