.Mainwrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.mainWrapper {
  display: flex;
  justify-content: space-between; 
  width: auto;
  height: 500px;
  align-items: center;
  /* background-color: red; */
}

.CurtContainer {
  width: calc(100vw - 200px);
  /* background-color: blue; */
  overflow-y:hidden;
  overflow: auto;
  display: flex;
  align-items: center; 
  height: 100%; 
}

.CurtContainer::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
}

.CurtContainer::-webkit-scrollbar-thumb {
  background-color: var(--myblack); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.CurtContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--mylightGray); /* Color when hovered */
}

.CurtContainer::-webkit-scrollbar-track {
  background: var(--myblack); /* Background of the scrollbar track */
}

.imageAndDataWrapper {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.imageChangeDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; /* Ensure it's positioned at the top */
  left: 0; /* Ensure it's positioned at the left */
}


.writeClick {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Consistent circular shape */
  background-color: var(--mylightGray);
  display: flex;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  align-items: center; /* Center any content inside */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.writeClick:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}
